<form autocomplete="off" onsubmit="event.preventDefault()">
    <img src="./modules/turnmarker/images/card.png" />
    <h2>{{localize 'tm.settings.formHeaders.imageOptions'}}</h2>
    <div class="form-group">
        <label>{{localize 'tm.settings.ratio.name'}}</label>
        <input name="ratio" type="text" value="{{ratio}}" />
        <p class="notes">{{localize 'tm.settings.ratio.hint'}}</p>
    </div>
    <div class="form-group">
        <label>{{localize 'tm.settings.image.name'}}:</label>
        <select name="image">
            {{#select image}}
            {{#each image}}
            <option value="{{@index}}" {{#if this.selected}}selected="selected" {{/if}}>{{this.value}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p class="notes"></p>
    </div>
    <div class="form-group">
        <label>{{localize 'tm.settings.customImage.name'}}:</label>
        <input name="customImage" type="text" value="{{customImage}}" />
        <p class="notes">{{localize 'tm.settings.customImage.hint'}}</p>
    </div>
    <hr />
    <h2>{{localize 'tm.settings.formHeaders.turnAnnounce'}}</h2>
    <div class="form-group">
        <label>{{localize 'tm.settings.announce.name'}}</label>
        <input name="announce" type="checkbox" {{#if announce}}checked="checked" {{/if}} />
        <p class="notes">{{localize 'tm.settings.announce.hint'}}</p>
    </div>
    <hr />
    <p>More information at <a href="https://brunhine.com/fvtt/turnmarker" target="_blank">Brunhine.com</a></p>
    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize 'tm.settings.formHeaders.save'}}
    </button>
</form>